<h2>Welcome.</h2>

<p>Maddock Studios is run by Henry Hagan, offering IT for small to medium businesses looking to improve the important aspect that is information technology</p>

<h3>What I offer</h3>
<ul>
	<li>Email and website management</li>
	<li>Onsite and remote desktop support</li>
	<li>Apple and Microsoft trained</li>
	<li>Office upgrade management</li>
	<li>Hardware repairs<li>
	<li>Office internet and phone provisioning</li>
	
	<li>Staff training in:
		<ul>
			<li>Computer Basics</li>
			<li>G Suite</li>
			<li>Office365</li>
			<li>Security Practices</li>
			<li>Adobe Creative Cloud</li>
		</ul>
	</li>
	
<h3>Rates</h3>
<ul>
	<li>Standard business rate is $160 per hour, minimum one hour. Travel time is not charged for Sydney Metro.</li>
	<li>Retainer hours are available, including discounted rates. Please enquire to discuss</li>
	<li>After hours call out rate is $100 plus $200 per hour. Business hours are 6am-7pm mon-fri.</li>
</ul>
<h3>Contact</h3>
<p>Please contact me for any matter on:
<ul>
	<li>m: 0416 867 313</li>
	<li>e: henry@maddockstudio.com</li>
</ul>
	
