<h2>Welcome.</h2>

<p>Maddock Studios is run by Henry Hagan, offering IT for small to medium businesses looking to improve the important aspect that is information technology</p>

<h3>What I offer</h3>
<ul>
	<li>Email and Website Management</li>
	<li>Onsite and Remote support</li>
	<li>Apple and Microsoft trained</li>
	<li>Office upgrade management</li>
	<li>Staff training in:
		<ul>
			<li>Computer Basics</li>
			<li>G Suite</li>
			<li>Office365</li>
			<li>Security Practices</li>
			<li>Adobe Creative Cloud</li>
		</ul>
	</li>